
#         _ _                     
#    __ _| (_) __ _ ___  ___  ___ 
#   / _` | | |/ _` / __|/ _ \/ __|
#  | (_| | | | (_| \__ \  __/\__ \
# (_)__,_|_|_|\__,_|___/\___||___/
                                
# by cerberus 
# ----------------------------------------------------- 

# Aliases
alias ls='ls -hl --color'
alias lsa='ls -ahl --color'
alias pacinst='sudo pacman -S'
alias pacup='sudo pacman -Syu'
alias deinst='yay -Rns'
alias ..='cd ..'
alias h='cd ~'
alias yayup='yay -Syu'
alias yayin='yay -S'
alias update='yay -Syu && sudo flatpak update'
alias mv='mv -i'
alias rm='rm -ri'
alias gadd='git add'
alias gcom='git commit -m'
alias gp='git push'
alias gfet='git fetch'
alias tree='tree -C'
alias x-rule='./.config/qtile/helper/x-rule.sh'