# Aliases
alias ls='ls -hl --color'
alias lsa='ls -ahl --color'
alias pacinst='sudo pacman -S'
alias pacup='sudo pacman -Syu'
alias deinst='yay -Rns'
alias ..='cd ..'
alias h='cd ~'
alias yayup='yay -Syu'
alias yayin='yay -S'
alias update='yay -Syu && sudo flatpak update'
alias mv='mv -i'
alias rm='rm -i'
alias gadd='git add'
alias gcom='git commit -m'
alias gp='git push'
alias gfet='git fetch'
alias tree='tree -C'